@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body  {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(113, 201, 215, 0.7),rgba(113, 201, 215, 0.7),rgba(214, 229, 154, 0.7)),url("book.jpg");
    height: 100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
      }
  
div ul{
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    row-gap: 5em;
    column-gap: 5em;
}
  
div li a{
    text-decoration: none;
    text-align: center;
  }
.CAT{
  text-decoration: none;
  text-align: center;
  padding-top:70px;
  font-size: larger;
  border-radius: 50px;
  width: 150px;
  height:150px;
  background: linear-gradient(rgba(119, 188, 9, 0.692),rgba(16, 17, 17, 0.725);
}
  .GRE{
    text-decoration: none;
    text-align: center;
    padding-top:70px;
    font-size: larger;
    border-radius: 50px;
    width: 150px;
    height:150px;
    background-color:rgba(131, 10, 34, 0.755);
   }
  .IELTS{
    text-decoration: none;
    text-align: center;
    padding-top:70px;
    font-size: larger;
    border-radius: 50px;
    width: 150px;
    height:150px;
    background-color:rgba(192, 147, 156, 0.755);
  }
  .IAS{
    text-decoration: none;
    text-align: center;
    padding-top:70px;
    font-size: larger;
    border-radius: 50px;
    width: 150px;
    height:150px;
    background-color:rgba(192, 147, 156, 0.755);
  }